@import url('https://fonts.googleapis.com/css2?family=Koh+Santepheap&display=swap');
body{
    color: #000;
   
}

.nav{
    background-color: #152D35;
    position: fixed;
    top: 0 ;
    left: 0;
    right: 0;
    transition:all 0.3s ease-in-out ;
    font-family: 'Koh Santepheap', cursive;

}
.nav h1{
    color: beige;
}
.nav .container{
    
    display: flex;
    justify-content:space-between;
    align-items: center;
    transition:all 0.3s ease-in-out ;
    padding: 20px 15px;
}

.nav .container >  ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    
}
.nav .container >  ul > li > a{
    text-decoration: none;
    padding:7px 15px ;
    color: beige;
    font-size: 15px;
    transition:all 0.3s ease-in-out ;

}
.nav > div > ul > li > a.home , .nav > div > ul > li > a:hover{
    color: rgb(201, 20, 20);
    font-weight: bold;
}
.nav.nav.active > div > ul > li > a.home , .nav.nav.active > div > ul > li > a:hover{
    color: rgb(201, 20, 20);
    font-weight: bold;
}
.nav.active{
    background-color: aliceblue;
    box-shadow:0 2px 30px rgba(0, 0, 0, 0.5);
}
.nav.active  > div > ul > li> a{
    color: #000;
}
.nav.active > div >h1{
    color: #000;
}
.nav.active .container{
    padding: 10px;
}
.search{
    position: relative;
    height: 50px;
    top: 15px;
    left:-270px;
    
}
.search .input{
    background-color: #ffff;
    border: 0;
    border-radius: 8px;
    font-size: 12px;
    padding: 5px;
    padding-left: 10px;
    height: 25px;
    width: 25px;
    transition: width 0.5s ease;
}
.btn{
    background-color: #ffff;
    border: 0;
    border-radius: 8px;
    font-size:20px ;
    cursor: pointer;
    height: 35px;
    width: 40px;
    padding: 5px;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.5s ease;
}
.btn:focus , .input:focus{
    outline:none;
}
.btn:hover{
    background-color:cornflowerblue
}

.search.active .input{
    width: 150px;
}
.search.active .btn{
    transform: translateX(148px);
}

.container2{
    position:absolute;
    width: 100%;
    top: 122px;
    background-color: #345B63;
    right: 0;
    left: 0px;
    height: 40vw;
    margin: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.split{
    overflow: hidden;
    width: 50%;
    height: 100%;
    position: absolute;
    
}
.split.left{
    left: 0;
    background: url('img/ui.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.split.left::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(87, 84, 236, 0.5);

}
.split.right{
    right: 0;
    background: url('img/ux.webp');
    background-repeat: no-repeat;
    background-size: cover;
}
.split.right::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(43, 43, 43, 0.6);

}
.split.left ,
.split.right,
.split.left::before,
.split.right::before{
    transition:all 2000ms ease-in-out;
}
.split > h1{
    font-size: 3rem;
    color: aliceblue;
    position: absolute;
    left: 40%;
    transform: translateX(-20%);
    top: 30%;
    white-space: nowrap;
}
.split .button{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%);
    text-decoration: none;
    border: #ffff solid 0.1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:1rem;
    font-weight: bold;
    text-transform: uppercase;
    color: beige;
    padding: 1rem;
    width: 5rem;
    height: 0.5rem;
    margin-top: 15%;
    border-radius: 35px;
}
.split .button:hover{
    background-color: rgba(43, 43, 43, 0.9);
    color: rgba(5, 5, 255, 0.9);
    border-color: rgba(43, 43, 43, 0.9);
}
.container2.hover-left .left{
    width:75%;
}
.container2.hover-left .right{
    width: 25%;
}
.hover-right .left{
    width: 25%;
}
.hover-right .right{
    width:75%;
}

@media only screen and (max-width:900px){
    h1{
        font-size: 1rem;
        top: 10%;
    }
    .split.button{
        margin: 0.8rem;
        padding: 0.1rem;
        width: 1rem;
        height: 0.5rem;
    }
}